@import url(https://fonts.googleapis.com/css?family=Teko:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);

/** Variables */

:root {
    --font-Titulos: 'Teko';
    --font-cursiva: 'Dancing Script';
    --gris600: #2f2e2e;
    --gris200: #706d6d;
    --yellow: #f9db79;
    --yellow-transparent: rgba(249, 213, 121, .745);
}


/** ScrollBar */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}


/* ? Estilos Generales */


* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gris600);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--font-Titulos);
}

h3 {
    font-family: var(--font-cursiva);
}


/** Estilos botones generales  */


.btn {
    width: 130px;
    height: 42px;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;
}

.btn.light {
    color: #fff;
    border: 2px solid #fff;
}

.btn.dark {
    color: var(--gris600);
    border: 2px solid var(--gris600);
}

.btn:hover {
    background: var(--gris600);
    border: 2px solid var(--gris600);
    color: #fff;
}

/** Grid Layaut general */


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    height: 100%;
}

.container-center {
    width: 85%;
    margin: 0 auto;
}

.span6 {
    grid-column: span 6;
}


/** Secciones */


section {
    position: relative;
    width: 100%;
    height: 100vh;
}


/** Text content */


.text-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/*?  Full */


.text-content.full {
    grid-column: span 12;
}

.text-content.full h1,
.text-content.full h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.text-content.full h1 {
    font-size: 115px;
    letter-spacing: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.text-content.full h2 {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 100;
    line-height: 0.1;
}

/* +++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++ */


/** NAV */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: var(--yellow-transparent);
    z-index: 3;
}

nav .grid {
    justify-items: start;
    align-items: center;
}

nav .enlaces {
    grid-column: span 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .enlaces a {
    margin-right: 20px;
    font-family: var(--font-Titulos);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5s;
}

nav .enlaces a:hover {
    color: var(--gris200);
}

nav .sociales {
    grid-column: span 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav .sociales a {
    margin: 0 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: grid;
    place-items: center;
    transition: all .5s;
}

nav .sociales a:hover {
    background: transparent;
    transform: scale(1.2);
    color: #000;
}


/** HEADER */


header {
    position: relative;
    width: 100%;
    height: calc(100vh + 50px);
    background: var(--yellow);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/image1.webp);
    background-repeat: no-repeat;
    background-position: center;
}

header .grid {
    justify-items: center;
    align-items: center;
}

header .text-content {
    padding: 200px 0 0 0;
}

header .text-content h3 {
    position: absolute;
    bottom: 50px;
    right: 0px;
    font-size: 50px;
    font-weight: 700;
    color: #000;
}